/*GRILL*/

/*Padding between comment box and Preferences*/
.form-input{ 
    padding-bottom: 5px;
}

/*Position of submit and reset buttons*/
.form-actions{
    padding-top: 15px;
    text-align: center;
    
}

/*Position of input boxes*/
.form-input{
    text-align: left;
}

/*Register box*/
.btn{ 
    background-color: #CCE1F2;
    width: 60px;
    height: 25px;
}

/*Removes boxes around. When removed, size of legend header changes*/
fieldset{ 
    border:none;
    border-bottom: solid 1px #CCE1F2;
    padding-bottom: 20px;
}

/*Header of each box*/
legend{ 
    font-size: 15px;
    font-family: "Open Sans", helvetica, sans-serif;
    margin-left: -15px;
    padding: 10px;
    font-weight: bold;

}

/*Size of location box*/
textarea{ 
    display: block;
    border-radius: 1px;
}

/*Font, size, padding of label to input boxes*/
label{
    font-size: 15px;
    font-family: "Open Sans", helvetica, sans-serif;
    margin-left: -10px;
    padding: 5px;
}

input{
    margin-left: 10px;
}
