/*
    Filename: final/style.css
    Date Written: 14. October 2015
    Author: Signe Elise Livgard, Kristoffer Hajem, Christoffer Skar Lofsberg, Vilde Mariussen
    Purpose: Style for the site
*/

body {
	/*background*/
	background: #CCE1F2;
	font-family: "Open Sans", helvetica, sans-serif;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

header {
	/*top of the page*/
    width: 100%;
    font-family: "Open Sans", helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
}

.downTri {
    /*font size for the dropdown menu*/
    font-size: 10px;
}

#menu {
	/*navigation menu*/
	padding-bottom: 10px;
    padding-top: 10px;
    background-color: #B1CEE6;

    width: 100%;
    text-align: center;
    margin: 10px auto 20px auto;

}

#menu > ul {
    /*lists nested in the navigation menu*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu > ul > li {
    /*elements nested within the lists in the navigation menu*/
    display: inline;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu a:link {
    /*links in the navigation menu*/
    padding: 10px;
    color: #000000;
}

#menu > ul > li > a:hover {
    /* background color change when hovering links within the menu*/
    background-color: #CCE1F2;
}

#menu a:visited {
    /*color change for visited links within the navigation menu*/
    color: #000000;
}

#mindre_overskrift {
    /*font styling for sub titles*/
    font-weight: bold;
    font-size: 15px;
}

.dropdown > ul{
    /*lists nested the dorpdown menu*/
    position: absolute;
    list-style: none;
    display: none;
    background-color: rgba(204, 225, 242, 1);
    padding: 5px 10px 5px 5px;
    width: 170px;
    top: 100%;
    left: 0;
    text-align: left;
}

.dropdown > ul > li {
    /*list elements within the dropdown menu*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropLink:hover {
    /*color change on hover for links within the dropdown menu*/
    color: #888 !important;
}

#main {
	/*main portion of text on each page*/
	background: #FFFFFF;
    border: 1px transparent black;
	font-family: "Open Sans", helvetica, sans-serif;
	margin-left: auto;
    margin-right: auto;
    width: 750px;
    padding: 10px;
}

#main h3 {
    /*titles used in the main portion of the page*/
    text-align: center;
}

#extraContent {
    /*shared container for random gif as well as weather data*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 770px;
    padding: 0;
    display: block;
    /*prevents displacement of the footer at certain screen heights*/
    overflow: auto;
}

#randomGiphy {
    /*positioning and styling for area showing random gifs on index.html*/
    background: #FFFFFF; 
    font-family: "Open Sans", helvetica, sans-serif;
    float: left;
    width: 300px;
    padding: 10px;
    padding-bottom: 30px;
    display: inline-block;
    text-align: center;
}

#randomGiphy > img {
    /*positioning for the random gifs window*/
    display: block;
    margin: 0 auto;
}

#weatherData {
    /*positioning and styling for the area showing weather data on index.html*/
    background: #FFFFFF; 
    font-family: "Open Sans", helvetica, sans-serif;
    float: right;
    width: 420px;
    padding: 10px;
    display: inline-block;
    line-height: 6px;
    text-align: center;
}

#weatherData img {
    /*resizing the weather icon*/
    margin-bottom: -5px;
}

#contactForm input, #contactForm #text {
    /*text area in the form in kontakt.html*/
    display: block;
    width: 400px;
    border: 1px solid #CCCCCC;
    padding: 3px;
    font-size: 16px;
    margin-top: 3px;
    font-family: "Open Sans", helvetica, sans-serif;
}

#send {
    /*submit button in kontakt.html*/
    border: 1px solid #CCC;
    margin-left: 350px;
    width: 50px;
    height: 30px;
    font-size: 14px;
    font-family: "Open Sans", helvetica, sans-serif;
    margin-top: 3px;
}

#contactForm #text {
    /*prompt text in form text area*/
    height: 100px;
    resize: none;
    overflow-y: auto;
}

iframe {
    /*area showing the google calendar*/
    border: 0px;
}

a:link {
	/*unvisited links*/
    color: #75ABE0;
    text-decoration: none;
}

a:visited {
	/*color change on visited links*/
    color: #75ABE0;
    text-decoration: none;
}

a:hover {
	/*color change when hovering over links*/
    color: #66CCFF;
    text-decoration: none;
}

a:active {
	/*color change for link to current page*/
    color: #003366;
    text-decoration: none;
}
footer {
	/*size and placement of footer*/
	width: 100%;
	font-size: 10px;
	text-align: center;
}

.grill-form-input{ 
    /*Padding between comment box and Preferences*/
    padding-bottom: 5px;
    /*Position of input boxes*/
    text-align: left;
}

.grill-form-actions{
    /*Position of submit and reset buttons*/
    padding-top: 15px;
    text-align: center;
    
}

.grill-btn{ 
    /*Register box*/
    background-color: #CCE1F2;
    width: 60px;
    height: 25px;
}

.grill-fieldset{ 
    /*Removes boxes around. When removed, size of legend header changes*/
    border:none;
    border-bottom: solid 1px #CCE1F2;
    padding-bottom: 20px;
}

.grill-legend{ 
    /*Header of each box*/
    font-size: 15px;
    font-family: "Open Sans", helvetica, sans-serif;
    margin-left: -15px;
    padding: 10px;
    font-weight: bold;

}

.grill-textarea{ 
    /*Size of location box*/
    display: block;
    border-radius: 1px;
}

.input-label{
    /*Font, size, padding of label to input boxes*/
    font-size: 15px;
    font-family: "Open Sans", helvetica, sans-serif;
    margin-left: -10px;
    padding: 5px;
}

.grill-input{
    /*input areas in grillene.html*/
    margin-left: 10px;
}

#calendar {
    border-width: 0;
    width: 750px; 
    height: 600px; 
    frameborder: 0;
    scrolling:no; 
}