@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: "Open Sans", Helvetica ,sans-serif;
	background-color: #CCFFFF; 
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px; 
}

p, li {
	font-size: 12px; 
}

a {
	text-decoration: none; 
	color: #000; 
}

a:visited {
	color: #000;
	text-decoration: none; 
}

a:hover {
	color: rgba(0, 0, 0, 0.5);
	text-decoration: underline;
}